/* Estilos para las celdas de la tabla de resultado */
#result-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 80%; /* Ancho de la tabla de resultados */
}

#result-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-weight: bold; /* Fuente en negrita */
    background-color: #f2f2f2; /* Color de fondo gris claro */
}

#result-table tr:first-child td {
    background-color: #333; /* Color de fondo para la primera fila */
    color: white; /* Color del texto en la primera fila */
}

.container {
    display: flex;
    flex-direction: column; /* Cambiar la dirección de los elementos a columnas */
    align-items: center;
    text-align: center; /* Centrar el texto en el contenedor */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 80%; /* Ancho del 80% en pantallas pequeñas */
    max-width: 400px; /* Ancho máximo para evitar que se vuelva demasiado ancho */
}

.matrix-card {
    width: 80%; 
    max-width: 400px; 
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%; 
    max-width: 400px; 
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}

input[type="number"] {
    width: 40px;
}

#result-container {
    margin-top: 20px;
}

#result-table {
    margin-top: 10px;
}

/* Estilo para los iconos pequeños */
.small-icon {
    font-size: 14px; /* Tamaño del icono */
}

/* Estilo para los botones */
button {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    margin: 10px 0; 
}

/* Estilo para los botones cuando se les pasa el mouse */
button:hover {
    background-color: #0056b3; 
}

#result-display {
    display: none;
}



@media screen and (max-width: 768px) {
    .card, .matrix-card, input[type="number"] {
        width: 100%; 
        max-width: none; 
        margin-right: 10px; 
    }

    input[type="number"]:last-child {
        margin-right: 0; 
    }

    table {
        width: 50%; 
    }

    
    #result-table td {
        width: auto;
    }
}



/* Estilos para el navbar */
.navbar {
    background-color: #007BFF;
    color: white; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
}



button {
  
}

button#addRowA:hover, button#addColumnA:hover,
button#addRowB:hover, button#addColumnB:hover,
button#clearMatrixA:hover, button#clearMatrixB:hover,
button#calculate:hover {
    background-color: #0056b3; 
}


button#addRowA:hover ~ .navbar, button#addColumnA:hover ~ .navbar,
button#addRowB:hover ~ .navbar, button#addColumnB:hover ~ .navbar,
button#clearMatrixA:hover ~ .navbar, button#clearMatrixB:hover ~ .navbar,
button#calculate:hover ~ .navbar {
    background-color: #0056b3; 
}
